<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqlMap.mapper.BoardMapper">

	<!-- BOARDTBL 쿼리 -->
	<!-- BRD_DELETE = 0 이면 삭제 -->
	
	<!-- 게시글 전체 조회 -->
	<select id="selectBoardAll" resultType="dto.BoardDTO">
	
		SELECT
			*
		FROM
			BOARDTBL
		WHERE
			BRD_DELETE = 1
	
	</select>
	
	<!-- 게시글 조회(글번호) -->
	<select id="selectBoardNum" parameterType="dto.BoardDTO" resultType="dto.BoardDTO">
	
		SELECT
			*
		FROM
			BOARDTBL
		WHERE
			BRD_NUM = #{brd_num} AND BRD_DELETE = 1
	
	</select>
	
	<!-- 게시글 조회(글제목) -->
	<select id="selectBoardTitle" parameterType="dto.BoardDTO" resultType="dto.BoardDTO">
	
		SELECT
			*
		FROM
			BOARDTBL
		WHERE
			BRD_TITLE LIKE CONCAT('%', #{brd_title}, '%') AND BRD_DELETE = 1
	
	</select>
	
	<!-- 게시글 조회(작성자) -->
	<!-- <select id="selectBoardWriter" parameterType="dto.MemberDTO" resultType="dto.BoardDTO">
	
		SELECT
			*
		FROM
			BOARDTBL
		INNER JOIN
			MEMBERTBL
		ON
			BOARDTBL.MEM_CODE = MEMBERTBL.MEM_CODE		
		WHERE
			MEMBERTBL.MEM_NAME LIKE CONCAT('%', #{mem_name}, '%') AND BOARDTBL.BRD_DELETE = 1
		
	</select> -->
	
	<!-- 게시글 조회(내용) -->
	<select id="selectBoardContent" parameterType="dto.BoardDTO" resultType="dto.BoardDTO">
	
		SELECT
			*
		FROM
			BOARDTBL
		WHERE
			BRD_CONTENT LIKE CONCAT('%', #{brd_content}, '%') AND BRD_DELETE = 1
	
	</select>
	
	<!-- 게시글 조회(강의명) -->
	<select id="selectBoardWriter" parameterType="dto.ClassDTO" resultType="dto.BoardDTO">
	
		SELECT
			*
		FROM
			BOARDTBL
		INNER JOIN
			CLASSTBL
		ON
			BOARDTBL.CLS_CODE = CLASSTBL.CLS_CODE		
		WHERE
			CLASSTBL.CLS_NAME LIKE CONCAT('%', #{cls_name}, '%') AND BOARDTBL.BRD_DELETE = 1
		
	</select>
	
	<!-- 게시글 조회(말머리) -->
	<select id="selectBoardCategory" parameterType="dto.BoardDTO" resultType="dto.BoardDTO">
	
		SELECT
			*
		FROM
			BOARDTBL
		WHERE
			BRD_CATEGORY = #{brd_category} AND BRD_DELETE = 1
	
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="dto.BoardDTO">
	
		INSERT INTO
			BOARDTBL (BRD_TITLE, BRD_HIT, BRD_DATE, BRD_CONTENT, MEM_CODE, CLS_CODE, BRD_CATEGORY, BRD_DELETE, BRD_RATING)
		VALUES
			(#{brd_title}, 0, NOW(), #{brd_content}, #{mem_code}, #{cls_code}, #{brd_category}, 1, #{brd_rating})
	
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="dto.BoardDTO">
	
		UPDATE
			BOARDTBL
		SET
			BRD_TITLE = #{brd_title},
			BRD_HIT = #{brd_hit},
			BRD_CONTENT = #{brd_content},
			CLS_CODE = #{cls_code},
			BRD_CATEGORY = #{brd_category},
			BRD_RATING = #{brd_rating}
		WHERE
			BRD_NUM = #{brd_num}
	
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="dto.BoardDTO">
	
		UPDATE
			BOARDTBL
		SET
			BRD_DELETE = 0
		WHERE
			BRD_NUM = #{brd_num}
	
	</update>

</mapper>